In [14]:
import pandas as pd

# Try reading with encoding fix
df = pd.read_csv("data/netflix_titles.csv", encoding='latin1')  # or 'latin1'
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
Unnamed: 12     8809
Unnamed: 13     8809
Unnamed: 14     8809
Unnamed: 15     8809
Unnamed: 16     8809
Unnamed: 17     8809
Unnamed: 18     8809
Unnamed: 19     8809
Unnamed: 20     8809
Unnamed: 21     8809
Unnamed: 22     8809
Unnamed: 23     8809
Unnamed: 24     8809
Unnamed: 25     8809
dtype: int64

In [16]:
df['director'].fillna('Unknown', inplace=True)
df['cast'].fillna('Not Listed', inplace=True)
df['country'].fillna('Unknown', inplace=True)
df['rating'].fillna('Not Rated', inplace=True)
df['duration'].fillna('Unknown', inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_12304\1127840604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_12304\1127840604.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna('Not Listed', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_12304\1127840604.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('Unknown', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_12304\1127840604.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna('Not Rated', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_12304\1127840604.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna('Unknown', inplace=True)

In [17]:
df.dropna(subset=['date_added'], inplace=True)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [21]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8799 entries, 0 to 8808
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8799 non-null   object
 1   type          8799 non-null   object
 2   title         8799 non-null   object
 3   director      8799 non-null   object
 4   cast          8799 non-null   object
 5   country       8799 non-null   object
 6   date_added    8711 non-null   datetime64[ns]
 7   release_year  8799 non-null   int64
 8   rating        8799 non-null   object
 9   duration      8799 non-null   object
 10  listed_in     8799 non-null   object
 11  description   8799 non-null   object
 12  unnamed:_12   0 non-null      float64
 13  unnamed:_13   0 non-null      float64
 14  unnamed:_14   0 non-null      float64
 15  unnamed:_15   0 non-null      float64
 16  unnamed:_16   0 non-null      float64
 17  unnamed:_17   0 non-null      float64
 18  unnamed:_18   0 non-null      float64
 19  unnamed:_19   0 non-null      float64
 20  unnamed:_20   0 non-null      float64
 21  unnamed:_21   0 non-null      float64
 22  unnamed:_22   0 non-null      float64
 23  unnamed:_23   0 non-null      float64
 24  unnamed:_24   0 non-null      float64
 25  unnamed:_25   0 non-null      float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(10)
memory usage: 1.8+ MB

In [23]:
df.isnull().sum()

show_id            0
type               0
title              0
director           0
cast               0
country            0
date_added        88
release_year       0
rating             0
duration           0
listed_in          0
description        0
unnamed:_12     8799
unnamed:_13     8799
unnamed:_14     8799
unnamed:_15     8799
unnamed:_16     8799
unnamed:_17     8799
unnamed:_18     8799
unnamed:_19     8799
unnamed:_20     8799
unnamed:_21     8799
unnamed:_22     8799
unnamed:_23     8799
unnamed:_24     8799
unnamed:_25     8799
dtype: int64

In [24]:
df.dropna(subset=['date_added'], inplace=True)

In [25]:
df.drop(columns=[col for col in df.columns if "unnamed" in col.lower()], inplace=True)

In [26]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [27]:
df.to_csv("data/netflix_titles_cleaned.csv", index=False)